In [20]:
import pandas as pd
import numpy as np
%matplotlib inline

In [120]:
df_2012 = pd.read_csv('../../data/csvs/detected_fires_2012.csv', true_values = ['t'], false_values=['f'], index_col=False)
df_2012.columns

Index([u'ogc_fid', u'wkb_geometry', u'area', u'perimeter', u'fire_',
       u'fire_id', u'lat', u'long', u'date', u'julian', u'gmt', u'temp',
       u'spix', u'tpix', u'src', u'sat_src', u'conf', u'frp', u'fire_bool',
       u'urban_areas_bool', u'region_aland', u'region_awater', u'region_name',
       u'region_lsad', u'region_code', u'county_aland', u'county_awater',
       u'county_name', u'county_lsad', u'county_fips', u'state_aland',
       u'state_awater', u'state_name', u'state_lsad', u'state_fips'],
      dtype='object')

In [121]:
df_2012['month'] = df_2012.date.apply(lambda x: x.split('-')[1])
df_2012.eval('land_water_ratio = county_aland / county_awater')
df_2012.fillna(0, inplace=True)

In [122]:
df_2012.land_water_ratio

0           9.333450
1           9.333450
2           9.333450
3           8.451723
4         126.894991
5         126.894991
6         176.001224
7         176.001224
8         105.144298
9         105.144298
10        105.144298
11         93.657627
12        198.687225
13        176.001224
14        234.417450
15          4.447329
16        113.394714
17        110.511527
18        110.511527
19        110.511527
20        573.872932
21        573.872932
22        171.576338
23        171.576338
24        185.875384
25          2.347515
26         37.118013
27         37.118013
28         37.118013
29        356.715321
             ...
252409      0.000000
252410      0.000000
252411      0.000000
252412      0.000000
252413      0.000000
252414      0.000000
252415      0.000000
252416      0.000000
252417      0.000000
252418      0.000000
252419      0.000000
252420      0.000000
252421      0.000000
252422      0.000000
252423      0.000000
252424      0.000000
252425      0.000000
252426      0.000000
252427      0.000000
252428      0.000000
252429      0.000000
252430      0.000000
252431      0.000000
252432      0.000000
252433      0.000000
252434      0.000000
252435      0.000000
252436      0.000000
252437      0.000000
252438      0.000000
Name: land_water_ratio, dtype: float64

In [68]:
keep_columns = ['fire_bool', 'lat', 'long', 'gmt', 'frp', 'conf', 'urban_areas_bool', 'month', 'land_water_ratio']

In [69]:
df_2012 = df_2012[keep_columns]
df_2012.columns

Index([u'fire_bool', u'lat', u'long', u'gmt', u'frp', u'conf',
       u'urban_areas_bool', u'month'],
      dtype='object')

In [70]:
continuous_cols = ['lat', 'long', 'gmt', 'frp', 'conf']
discrete_cols = ['urban_areas_bool', 'month']

In [71]:
for col in continuous_cols: 
    print '-' * 50
    print col 
    print df_2012.query('fire_bool == True')[col].describe()
    print df_2012.query('fire_bool == False')[col].describe()

--------------------------------------------------
lat
count    59731.000000
mean        42.557863
std          3.629122
min         25.384000
25%         40.690000
50%         43.031000
75%         45.457000
max         48.840000
Name: lat, dtype: float64
count    192708.000000
mean         38.768174
std           6.108524
min          25.169000
25%          33.104000
50%          39.542000
75%          44.343000
max          49.455000
Name: lat, dtype: float64
--------------------------------------------------
long
count    59731.000000
mean      -114.247726
std          5.946087
min       -123.521000
25%       -118.457000
50%       -114.942000
75%       -110.510500
max        -78.338000
Name: long, dtype: float64
count    192708.000000
mean       -102.478641
std          13.381181
min        -124.477000
25%        -114.906000
50%        -103.641000
75%         -91.364750
max         -66.720000
Name: long, dtype: float64
--------------------------------------------------
gmt
count    59731.000000
mean      1297.925784
std        673.616166
min        252.000000
25%        549.000000
50%       1031.000000
75%       2006.000000
max       2211.000000
Name: gmt, dtype: float64
count    192708.000000
mean       1626.379367
std         517.959846
min         232.000000
25%        1627.000000
50%        1833.000000
75%        1942.000000
max        2212.000000
Name: gmt, dtype: float64
--------------------------------------------------
frp
count    59731.000000
mean       160.391314
std        325.258183
min          0.000000
25%         32.000000
50%         62.200000
75%        144.150000
max       7419.200000
Name: frp, dtype: float64
count    192708.000000
mean         97.911587
std         270.310035
min           0.000000
25%          19.600000
50%          38.200000
75%          85.700000
max       13472.000000
Name: frp, dtype: float64
--------------------------------------------------
conf
count    59731.000000
mean        79.220723
std         24.988549
min          0.000000
25%         64.500000
50%         90.000000
75%        100.000000
max        100.000000
Name: conf, dtype: float64
count    192708.000000
mean         71.703266
std          22.811720
min           0.000000
25%          57.000000
50%          75.000000
75%          91.000000
max         100.000000
Name: conf, dtype: float64

In [74]:
for col in discrete_cols: 
    print df_2012.query('fire_bool == True').groupby(col).count()['fire_bool']
    print df_2012.query('fire_bool == False').groupby(col).count()['fire_bool']

urban_areas_bool
False    59721
True        10
Name: fire_bool, dtype: int64
urban_areas_bool
False    185759
True       6949
Name: fire_bool, dtype: int64
month
02        2
03        4
04      319
05     1904
06     8737
07     9697
08    27248
09    11080
10      681
11       41
12       18
Name: fire_bool, dtype: int64
month
01     3239
02     2421
03    10215
04     6128
05    10103
06    24863
07    19668
08    45747
09    34123
10    20089
11    12124
12     3988
Name: fire_bool, dtype: int64

In [129]:
# Let's put everything I just did into a function so I can look at all years. In reality 
# I'd probably put this in multiple functions, but this is eda. 
def veiwing_func(year):
    filepath = '../../data/csvs/detected_fires_' + str(year) + '.csv'
    df = pd.read_csv(filepath, true_values = ['t'], false_values=['f'], index_col=False)
    df['month'] = df.date.apply(lambda x: x.split('-')[1])
    df.eval('land_water_ratio = county_aland / county_awater')
    df.fillna(0, inplace=True)
    df.replace(np.inf, 0, inplace=True)
    keep_columns = ['fire_bool', 'lat', 'long', 'gmt', 'frp', 'conf', 'urban_areas_bool', 'month', 'land_water_ratio']
    df = df[keep_columns]
    continuous_cols = ['lat', 'long', 'gmt', 'frp', 'conf', 'land_water_ratio']
    discrete_cols = ['urban_areas_bool', 'month']
    print '*' * 50 
    print 'Continuous Variables'
    for col in continuous_cols: 
        print '-' * 50
        print col 
        print df.query('fire_bool == True')[col].describe()
        print df.query('fire_bool == False')[col].describe()
    print '*' * 50 
    print 'Discrete Variables'
    for col in discrete_cols: 
        print df.query('fire_bool == True').groupby(col).count()['fire_bool']
        print df.query('fire_bool == False').groupby(col).count()['fire_bool']

In [130]:
veiwing_func(2012)

**************************************************
Continuous Variables
--------------------------------------------------
lat
count    59731.000000
mean        42.557863
std          3.629122
min         25.384000
25%         40.690000
50%         43.031000
75%         45.457000
max         48.840000
Name: lat, dtype: float64
count    192708.000000
mean         38.768174
std           6.108524
min          25.169000
25%          33.104000
50%          39.542000
75%          44.343000
max          49.455000
Name: lat, dtype: float64
--------------------------------------------------
long
count    59731.000000
mean      -114.247726
std          5.946087
min       -123.521000
25%       -118.457000
50%       -114.942000
75%       -110.510500
max        -78.338000
Name: long, dtype: float64
count    192708.000000
mean       -102.478641
std          13.381181
min        -124.477000
25%        -114.906000
50%        -103.641000
75%         -91.364750
max         -66.720000
Name: long, dtype: float64
--------------------------------------------------
gmt
count    59731.000000
mean      1297.925784
std        673.616166
min        252.000000
25%        549.000000
50%       1031.000000
75%       2006.000000
max       2211.000000
Name: gmt, dtype: float64
count    192708.000000
mean       1626.379367
std         517.959846
min         232.000000
25%        1627.000000
50%        1833.000000
75%        1942.000000
max        2212.000000
Name: gmt, dtype: float64
--------------------------------------------------
frp
count    59731.000000
mean       160.391314
std        325.258183
min          0.000000
25%         32.000000
50%         62.200000
75%        144.150000
max       7419.200000
Name: frp, dtype: float64
count    192708.000000
mean         97.911587
std         270.310035
min           0.000000
25%          19.600000
50%          38.200000
75%          85.700000
max       13472.000000
Name: frp, dtype: float64
--------------------------------------------------
conf
count    59731.000000
mean        79.220723
std         24.988549
min          0.000000
25%         64.500000
50%         90.000000
75%        100.000000
max        100.000000
Name: conf, dtype: float64
count    192708.000000
mean         71.703266
std          22.811720
min           0.000000
25%          57.000000
50%          75.000000
75%          91.000000
max         100.000000
Name: conf, dtype: float64
--------------------------------------------------
land_water_ratio
count    59731.000000
mean       764.931199
std       2583.917583
min          1.971326
25%         84.356553
50%        234.417450
75%        367.922917
max      28442.892680
Name: land_water_ratio, dtype: float64
count    192708.000000
mean        384.536556
std        2250.774282
min           0.000000
25%          36.440199
50%         103.555406
75%         300.683783
max      136339.214986
Name: land_water_ratio, dtype: float64
**************************************************
Discrete Variables
urban_areas_bool
False    59721
True        10
Name: fire_bool, dtype: int64
urban_areas_bool
False    185759
True       6949
Name: fire_bool, dtype: int64
month
02        2
03        4
04      319
05     1904
06     8737
07     9697
08    27248
09    11080
10      681
11       41
12       18
Name: fire_bool, dtype: int64
month
01     3239
02     2421
03    10215
04     6128
05    10103
06    24863
07    19668
08    45747
09    34123
10    20089
11    12124
12     3988
Name: fire_bool, dtype: int64

In [131]:
veiwing_func(2013)

**************************************************
Continuous Variables
--------------------------------------------------
lat
count    26997.000000
mean        40.235121
std          4.015681
min         29.150000
25%         37.807000
50%         39.146000
75%         43.563000
max         48.143000
Name: lat, dtype: float64
count    157428.00000
mean         36.16357
std           5.76330
min          25.16300
25%          31.54200
50%          34.37900
75%          40.66525
max          49.45500
Name: lat, dtype: float64
--------------------------------------------------
long
count    26997.000000
mean      -116.976970
std          5.049086
min       -123.830000
25%       -120.103000
50%       -119.412000
75%       -114.591000
max        -79.305000
Name: long, dtype: float64
count    157428.000000
mean        -98.011095
std          13.861507
min        -124.955000
25%        -111.947500
50%         -94.575500
75%         -85.801000
max         -67.409000
Name: long, dtype: float64
--------------------------------------------------
gmt
count    26997.000000
mean      1338.228433
std        660.183984
min        308.000000
25%        608.000000
50%       1729.000000
75%       2010.000000
max       2212.000000
Name: gmt, dtype: float64
count    157428.000000
mean       1697.500813
std         415.925192
min         238.000000
25%        1640.000000
50%        1833.000000
75%        1925.000000
max        2212.000000
Name: gmt, dtype: float64
--------------------------------------------------
frp
count    26997.000000
mean       163.541290
std        359.979962
min          0.000000
25%         32.200000
50%         64.400000
75%        145.100000
max      11622.900000
Name: frp, dtype: float64
count    157428.000000
mean         74.655631
std         226.512505
min          -1.000000
25%          16.400000
50%          30.600000
75%          65.500000
max       13227.200000
Name: frp, dtype: float64
--------------------------------------------------
conf
count    26997.000000
mean        79.256806
std         25.313466
min          0.000000
25%         64.000000
50%         91.000000
75%        100.000000
max        100.000000
Name: conf, dtype: float64
count    157428.000000
mean         68.765785
std          21.519899
min           0.000000
25%          55.000000
50%          70.000000
75%          85.000000
max         100.000000
Name: conf, dtype: float64
--------------------------------------------------
land_water_ratio
count    26997.000000
mean       176.968524
std        332.225688
min          2.595018
25%         41.476306
50%         72.971410
75%        171.576338
max       6193.264294
Name: land_water_ratio, dtype: float64
count    157428.000000
mean        278.391070
std        2282.810119
min           0.000000
25%          23.313229
50%          72.971410
75%         168.215835
max      136339.214986
Name: land_water_ratio, dtype: float64
**************************************************
Discrete Variables
urban_areas_bool
False    26992
True         5
Name: fire_bool, dtype: int64
urban_areas_bool
False    150856
True       6572
Name: fire_bool, dtype: int64
month
02        3
04       11
05      536
06     3666
07     5545
08    15151
09     2034
10        4
11       38
12        9
Name: fire_bool, dtype: int64
month
01     5845
02     7011
03    20109
04    14388
05     9668
06    16367
07    13582
08    24761
09    17275
10    15498
11     8552
12     4372
Name: fire_bool, dtype: int64

In [132]:
veiwing_func(2014)

**************************************************
Continuous Variables
--------------------------------------------------
lat
count    23932.000000
mean        42.587513
std          4.189093
min         26.157000
25%         40.788000
50%         41.997000
75%         45.668250
max         48.790000
Name: lat, dtype: float64
count    205756.000000
mean         36.262295
std           5.715135
min          25.165000
25%          31.833000
50%          34.962000
75%          39.976000
max          49.454000
Name: lat, dtype: float64
--------------------------------------------------
long
count    23932.000000
mean      -119.401643
std          3.799057
min       -123.750000
25%       -121.647750
50%       -120.323000
75%       -118.361000
max        -80.988000
Name: long, dtype: float64
count    205756.000000
mean        -96.402913
std          13.443744
min        -124.881000
25%        -102.977000
50%         -93.772000
75%         -85.328000
max         -66.926000
Name: long, dtype: float64
--------------------------------------------------
gmt
count    23932.000000
mean      1309.601371
std        654.226839
min        339.000000
25%        610.000000
50%       1025.000000
75%       2025.000000
max       2212.000000
Name: gmt, dtype: float64
count    205756.000000
mean       1716.479242
std         388.626416
min         157.000000
25%        1645.000000
50%        1834.000000
75%        1930.000000
max        2213.000000
Name: gmt, dtype: float64
--------------------------------------------------
frp
count    23932.000000
mean       137.239094
std        338.090073
min          0.000000
25%         28.200000
50%         55.800000
75%        121.200000
max       8643.600000
Name: frp, dtype: float64
count    205756.000000
mean         48.870137
std         107.741174
min           0.000000
25%          12.400000
50%          23.400000
75%          49.300000
max        7984.300000
Name: frp, dtype: float64
--------------------------------------------------
conf
count    23932.000000
mean        78.737506
std         25.426545
min          0.000000
25%         63.000000
50%         90.000000
75%        100.000000
max        100.000000
Name: conf, dtype: float64
count    205756.000000
mean         66.970499
std          20.466833
min           0.000000
25%          54.000000
50%          68.000000
75%          82.000000
max         100.000000
Name: conf, dtype: float64
--------------------------------------------------
land_water_ratio
count    23932.000000
mean       456.688759
std       1299.999512
min          2.254029
25%         52.421469
50%        108.678009
75%        176.001224
max       6193.264294
Name: land_water_ratio, dtype: float64
count    205756.000000
mean        243.211403
std        1375.903289
min           0.000000
25%          25.174097
50%          74.186004
75%         154.300271
max      136339.216974
Name: land_water_ratio, dtype: float64
**************************************************
Discrete Variables
urban_areas_bool
False    23902
True        30
Name: fire_bool, dtype: int64
urban_areas_bool
False    197577
True       8179
Name: fire_bool, dtype: int64
month
01      35
02       3
04      36
05    1237
06    1126
07    8680
08    8513
09    4283
10       4
11      15
Name: fire_bool, dtype: int64
month
01     8744
02    10460
03    29751
04    34473
05    14885
06    10352
07    15870
08    19282
09    17173
10    25043
11    12469
12     7254
Name: fire_bool, dtype: int64

In [133]:
veiwing_func(2015)

**************************************************
Continuous Variables
--------------------------------------------------
lat
count    32897.000000
mean        45.097602
std          3.940966
min         25.586000
25%         43.268000
50%         46.125000
75%         48.367000
max         48.999000
Name: lat, dtype: float64
count    115352.000000
mean         38.857856
std           6.622151
min          25.170000
25%          33.022750
50%          37.905000
75%          45.611250
max          49.690000
Name: lat, dtype: float64
--------------------------------------------------
long
count    32897.000000
mean      -118.922052
std          3.162893
min       -124.582000
25%       -120.143000
50%       -118.963000
75%       -117.749000
max        -80.893000
Name: long, dtype: float64
count    115352.000000
mean       -101.578153
std          14.716002
min        -124.862000
25%        -117.007250
50%         -97.764500
75%         -89.300000
max         -66.537000
Name: long, dtype: float64
--------------------------------------------------
gmt
count    32897.000000
mean      1306.137551
std        669.827143
min        313.000000
25%        600.000000
50%       1024.000000
75%       2020.000000
max       2212.000000
Name: gmt, dtype: float64
count    115352.000000
mean       1652.917955
std         478.238755
min         220.000000
25%        1634.000000
50%        1833.000000
75%        1936.000000
max        2213.000000
Name: gmt, dtype: float64
--------------------------------------------------
frp
count    32897.000000
mean       145.895066
std        387.196952
min          0.000000
25%         25.500000
50%         50.800000
75%        117.700000
max      13692.200000
Name: frp, dtype: float64
count    115352.000000
mean         57.091728
std         150.120219
min           0.000000
25%          11.800000
50%          23.200000
75%          51.800000
max       12082.900000
Name: frp, dtype: float64
--------------------------------------------------
conf
count    32897.000000
mean        77.009636
std         26.254157
min          0.000000
25%         59.000000
50%         88.000000
75%        100.000000
max        100.000000
Name: conf, dtype: float64
count    115352.000000
mean         66.560745
std          22.151764
min           0.000000
25%          52.000000
50%          67.000000
75%          83.000000
max         100.000000
Name: conf, dtype: float64
--------------------------------------------------
land_water_ratio
count    32897.000000
mean       461.027900
std       1346.918700
min          0.356926
25%         80.017712
50%        112.552711
75%        234.417450
max       6193.264294
Name: land_water_ratio, dtype: float64
count    115352.000000
mean        318.594764
std        2844.603368
min           0.000000
25%          30.545081
50%          87.406758
75%         170.815982
max      136339.216974
Name: land_water_ratio, dtype: float64
**************************************************
Discrete Variables
urban_areas_bool
False    32897
Name: fire_bool, dtype: int64
urban_areas_bool
False    111149
True       4203
Name: fire_bool, dtype: int64
month
04       21
05       62
06      763
07      780
08    29848
09     1321
10      102
Name: fire_bool, dtype: int64
month
01     4702
02     6172
03    11855
04     9805
05     4566
06     5452
07     5924
08    39758
09     8003
10    11732
11     3946
12     3437
Name: fire_bool, dtype: int64