In [13]:
# From the 2008 to 2009 MODIS data, a couple of the variables change. Some of the names change, and 
# a variable are two that are in the 2008 data aren't in the 2009 data, and vice versa. The purpose of 
# this .ipynb is to examine these changes and try to decide how I'm going to handle these changes so that 
# I can still use all years of the data, rather than losing 2001-2008.

In [14]:
import shapefile
import pandas as pd
import os
import numpy as np

In [15]:
os.chdir('/Users/sallamander/galvanize/forest-fires/forest-fires/code')

In [16]:
from read_data import read_file, get_basefile_name

In [17]:
for year in xrange(2001, 2016):
    basefile_name = get_basefile_name(year)
    exec('shapefile_df_' + str(year) + ' = read_file(year, basefile_name)')

In [18]:
shapefile_df_2008.head(5)

,AREA,PERIMETER,FIRE_,FIRE_ID,LAT,LONG,TEMP,SPIX,TPIX,DATE,GMT,SATELLITE,FRP,CONFIDENCE,JULIAN,year
0,0.000000E+000,0.000000E+000,1,2744368,49.456,-97.233,314.3,2.9,1.6,"[2008, 8, 29]",1837,A,56.5,61,242,2008
1,0.000000E+000,0.000000E+000,2,3592281,49.454,-118.294,314.9,1.5,1.2,"[2008, 10, 23]",1835,T,46.8,62,297,2008
2,0.000000E+000,0.000000E+000,3,3572566,49.453,-118.194,315.0,1.1,1.1,"[2008, 10, 21]",1848,T,31.1,63,295,2008
3,0.000000E+000,0.000000E+000,4,1297172,49.451,-104.505,311.9,1.8,1.3,"[2008, 5, 10]",1734,T,15.8,32,131,2008
4,0.000000E+000,0.000000E+000,5,3397967,49.451,-97.114,324.7,1.4,1.2,"[2008, 10, 4]",1951,A,45.4,78,278,2008

In [24]:
shapefile_df_2009.head(5)

KeyError: 'SRC'

In [8]:
shapefile_df_2008.describe()

,FIRE_,FIRE_ID,LAT,LONG,TEMP,SPIX,TPIX,JDATE,GMC,FRP,CONFIDENCE,JULIAN,year
count,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864
mean,42932.500000,2004812.229072,36.660762,-101.896841,327.612012,1.582568,1.202809,2008183.073209,1670.399108,71.056544,69.652707,183.073209,2008
std,24786.946094,1046558.256604,5.266189,15.345054,20.156341,0.798391,0.244211,82.796749,475.708328,143.417076,22.010853,82.796753,0
min,1.000000,111.000000,25.170000,-124.478000,305.000000,1.000000,1.000000,2008001.000000,219.000000,0.000000,0.000000,1.000000,2008
25%,21466.750000,1108861.750000,32.476750,-119.180000,314.700000,1.000000,1.000000,2008110.000000,1642.000000,18.200000,55.000000,110.000000,2008
50%,42932.500000,1842333.500000,36.249000,-98.063000,321.600000,1.200000,1.100000,2008185.000000,1843.000000,33.500000,72.000000,185.000000,2008
75%,64398.250000,2870766.250000,40.436000,-89.633750,333.400000,1.800000,1.300000,2008248.000000,1938.000000,70.000000,87.000000,248.000000,2008
max,85864.000000,4369809.000000,49.456000,-66.904000,503.600000,4.800000,2.000000,2008366.000000,2216.000000,6069.700000,100.000000,366.000000,2008

In [9]:
shapefile_df_2009.describe()

,FIRE_,FIRE_ID,JULIAN,GMT,TEMP,SPIX,TPIX,CONF,FRP,year
count,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484
mean,85742.500000,328463.904580,157.346575,1715.958888,327.273831,1.589754,1.200212,68.954025,-3427.741610,2009
std,49503.311118,211571.785369,86.843825,397.490136,20.332660,0.800758,0.252013,21.204471,4796.152902,0
min,1.000000,44.000000,1.000000,209.000000,305.000000,1.000000,1.000000,0.000000,-9999.000000,2009
25%,42871.750000,113992.750000,87.000000,1655.000000,314.600000,1.100000,1.000000,55.000000,-9999.000000,2009
50%,85742.500000,329945.000000,142.000000,1837.000000,321.000000,1.300000,1.100000,71.000000,16.100000,2009
75%,128613.250000,508501.250000,233.000000,1928.000000,332.200000,1.700000,1.300000,85.000000,42.400000,2009
max,171484.000000,687137.000000,365.000000,2220.000000,504.100000,4.800000,2.000000,100.000000,7858.600000,2009

The distribution of T21 looks to match up almost exactly to TEMP, so I am going to use that for the TEMP variable 
prior to 2009. The 2008 SATELLITE variable corresponds to to the SAT_SRC in 2009+, and the SRC variable in 2009+ 
appears for now to be useless (it doesn't exist prior to 2008). The JDATE prior to 2008 needs to be parsed - it holds the year plus the part that I want. The FRP looks odd in 2009 - the mean is negative, which is most likely due to the 
many negative values (-9999). I need to look into that.

In [20]:
mask = shapefile_df_2009.eval('FRP == -9999')
# np.unique(shapefile_df_2009[mask]['SRC'])
shapefile_df_2009.columns

Index([u'AREA', u'PERIMETER', u'FIRE_', u'FIRE_ID', u'LAT', u'LONG', u'DATE',
       u'JULIAN', u'GMT', u'TEMP', u'SPIX', u'TPIX', u'SAT_SRC', u'CONF',
       u'FRP', u'year'],
      dtype='object')

Per the above, all of the -9999 values for FRP are coming from rows where the source is gsfc, or the NASA-Goddard Space Flight Center MODIS Rapid Response System. Let's see if this is true in other years.

In [ ]:
for year in xrange(2009, 2016): 
    mask = eval("shapefile_df_" + str(year) + ".eval('FRP == -9999')")
    print np.unique(eval("shapefile_df_" + str(year) + "[mask]['SRC']"))

In [ ]:
# Let's see if there just aren't any -9999 values in 2011+ (as the above seems to indicate). 
shapefile_df_2015['FRP'].describe()

In [ ]:
# Is the GSFC SRC not present in 2011+?
np.unique(shapefile_df_2015['SRC'])

# It's present in all years... I'll have to look into raw satellite data to figure out what's going on with 
# those -9999 values.

In [ ]:
# Are there other characteristics of those obs. that will distinguish them? Maybe time, location, something?
mask = shapefile_df_2009['FRP'] == -9999
shapefile_df_2009[mask].describe()

In [ ]:
shapefile_df_2009[~mask].describe()

In [ ]:
mask_opposite = 1 - mask
mask_opposite

In [ ]:
type(shapefile_df_2009['JULIAN'][0])